<launch>

    <arg name="dev" default="/dev/roboclaw"/>
    <arg name="baud" default="115200"/>
    <arg name="address" default="128"/>
    <arg name="ticks_per_meter" default="2263.6"/>
    <arg name="max_speed" default="1.79"/>
    <arg name="base_width" default="0.5926"/>
    <arg name="run_diag" default="true"/>
    <arg name="run_mode_srv" default="false"/>
    <arg name="publish_tf" default="false"/>

    <node if="$(arg run_diag)" pkg="rover_motor_driver" type="roboclaw_main.py" name="DRIVE">
        <param name="~dev" value="$(arg dev)"/>
        <param name="~baud" value="$(arg baud)"/>
        <param name="~address" value="$(arg address)"/>
        <param name="~max_speed" value="$(arg max_speed)"/>
        <param name="~ticks_per_meter" value="$(arg ticks_per_meter)"/>
        <param name="~base_width" value="$(arg base_width)"/>
        <param name="~publish_tf" value="$(arg publish_tf)"/>
        <param name="frame_id" type="string" value="base_link"/>
		<!-- <remap from="/odom_wheel" to="/odom" /> -->
    </node>

</launch>