<launch>

	<!-- <node pkg="tf" type="static_transform_publisher" name="TF_IMU" args="0.0 0.0 0.0 0.0 0.0 0 base_link imu_link 10" />
	<node pkg="tf" type="static_transform_publisher" name="TF_GPS" args="-0.15 0.15 0.15 0.0 0.0 0 base_link gps_link 10" /> -->

	<arg name="fcu_url" default="/dev/pixhawk:57600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />
	<remap from="/mavros/global_position/raw/fix" to="/gps_navsat_raw" />
	<remap from="/mavros/global_position/compass_hdg" to="/gps_heading" />
	<remap from="/mavros/imu/data" to="/imu" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find rover_launcher)/params/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find rover_launcher)/params/px4_config.yaml" />
		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

	<node pkg="robot_localization" type="ekf_localization_node" name="EKF_GLOBAL" clear_params="true">
		<rosparam command="load" file="$(find rover_launcher)/params/ekf_global.yaml" />
		<remap from="/odometry/filtered" to="/odom_global" />
	</node>

	<node pkg="robot_localization" type="navsat_transform_node" name="NAVSAT" respawn="false">

		<param name="magnetic_declination_radians" value="0"/>
		<param name="yaw_offset" value="0"/>
		<param name="broadcast_utm_transform" type="bool" value="true"/>
		<param name="broadcast_utm_transform_as_parent_frame" value="true"/>
		<param name="publish_filtered_gps" value="true"/>
		<param name="frequency" value="1"/>
		<remap from="/gps/fix" to="/gps_navsat_raw" />
		<remap from="/gps/filtered" to="/gps_navsat" />
		<remap from="/imu/data" to="/imu" />
		<remap from="/odometry/gps" to="odom_gps" />
		<remap from="/odometry/filtered" to="/odom_global" />
		
	</node>

</launch>



