<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="MOVE" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <rosparam file="$(find rover_launcher)/params/costmap_common_transition.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rover_launcher)/params/costmap_common_transition.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rover_launcher)/params/local_costmap_transition.yaml" command="load" />
    <rosparam file="$(find rover_launcher)/params/global_costmap_transition.yaml" command="load" />
    <rosparam file="$(find rover_launcher)/params/move_base.yaml" command="load" />
    <rosparam file="$(find rover_launcher)/params/dwa_local_planner_transition.yaml" command="load" />
    <rosparam file="$(find rover_launcher)/params/global_planner_transition.yaml" command="load" />
  </node>

</launch> 
