ACTION=="add", ATTRS{idVendor}=="148f", ATTRS{idProduct}=="5572", SYMLINK+="wlan_panda", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="rplidar", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2404", SYMLINK+="roboclaw", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="2458", ATTRS{idProduct}=="0001", SYMLINK+="ble_tag", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="ftdi", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="0b3a", SYMLINK+="realsense", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="1b4f", ATTRS{idProduct}=="9d0f", SYMLINK+="razor", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="gps", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="091e", ATTRS{idProduct}=="0003", SYMLINK+="garmin", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="2dae", ATTRS{idProduct}=="1011", SYMLINK+="pixhawk", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="26ac", ATTRS{idProduct}=="0011", SYMLINK+="pixhawk", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", SYMLINK+="pixhawk", MODE="0666"
ACTION=="add", ATTRS{idVendor}=="2dae", ATTRS{idProduct}=="1016", SYMLINK+="pixhawk", MODE="0666", GOTO="pixhawk_parent"
ACTION=="add", ATTRS{idVendor}=="2dae", ATTRS{idProduct}=="1016", ATTRS{bInterfaceNumber}=="00", SYMLINK+="pixhawk", MODE="0666", LABEL="pixhawk_parent"
SUBSYSTEM=="video4linux", ACTION=="add", ATTRS{idVendor}=="0806", ATTRS{idProduct}=="0806", SYMLINK+="cam", MODE="0666"
SUBSYSTEM=="video4linux", ACTION=="add", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9331", SYMLINK+="cam", MODE="0666"