# Contents of /etc/systemd/system/mace-payload.service
# systemd service to start target process

[Unit]
Description=MACE Payload
After=network.target

[Service]
Type=simple
User=pi
Restart=on-failure
ExecStart=/opt/mace/run_init_device.sh payload

[Install]
WantedBy=multi-user.target
