<!--   Approved for public release: distribution is unlimited. PA Case Number AFRL-2023-4617.

-->

<!--   © 2023 Raytheon BBN Technologies Corp. All rights reserved. Sponsored by the Air Force Research Laboratory (AFRL)  


-->

<!--   Copyright 2021-2023 Raytheon BBN Technologies.


-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="{{refresh_rate}}" /> 
  <title>MACE</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/timer.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bulma.min.css') }}">
  <script src='static/js/chart.min.js'></script>
</head>