<!--   Approved for public release: distribution is unlimited. PA Case Number AFRL-2023-4617.

-->

<!--   © 2023 Raytheon BBN Technologies Corp. All rights reserved. Sponsored by the Air Force Research Laboratory (AFRL)  


-->

<!--   Copyright 2021-2023 Raytheon BBN Technologies.


-->

<!-- Navbar-->
<nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item is-size-6">
      <h1 class="is-size-2">MACE</h1>
    </div>
  </div>

  <!-- Navbar Menu -->
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/latest_run" class="navbar-item">Latest Run</a>
      <a href="/multiple_runs" class="navbar-item">Multiple Runs</a>
      <a href="/tutorial" class="navbar-item">Tutorial</a>
      <a href="/about" class="navbar-item">About</a>
    </div>
  </div>
</nav>
