<!--   Approved for public release: distribution is unlimited. PA Case Number AFRL-2023-4617.

-->

<!--   © 2023 Raytheon BBN Technologies Corp. All rights reserved. Sponsored by the Air Force Research Laboratory (AFRL)  


-->

<!--   Copyright 2021-2023 Raytheon BBN Technologies.


-->

<!DOCTYPE html>
<html>

{% include '_head.html' %}

<body class="main">

  {% include '_navbar.html' %}

  <!-- Header -->
  <section class="hero">
    <div class="hero-body has-text-centered">
      <p class="title">
        MANAGING ACADEMIES' CHALLENGE EVALUATION
      </p>
      <p class="subtitle">
        About
      </p>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body has-text-centered">
      <div class="container">
        <p>Coming Soon</p>
      </div>
    </div>
  </section>

  {% include '_footer.html' %}

</body>

</html>
